@use '@vizality' as *;

:root {
  --cmai-activity-icon-size: 20px;
  --cmai-activity-icon-border-radius: 4px;
}

.cmai-activity-icon {
  @include size(var('cmai-activity-icon-size'));
  border-radius: var('cmai-activity-icon-border-radius');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  &-wrapper {
    & + & {
    margin-left: 7px;
    }
  }
}

.membersWrap-2h-GB4 {
  .children-gzQq2t {
    display: flex;
    flex-flow: row nowrap;
  }
  // Remove rich presence icon
  .icon-15YQ1T {
    display: none;
  }
}
