@use '@vizality' as vz;

:root {
  --channel-members-activity-icons__icon-size: 20px;
  --channel-members-activity-icons__icon-border-radius: 4px;
}

.channel-members-activity-icons {
  &-image {
    @include vz.size(var(--channel-members-activity-icons__icon-size));
    border-radius: var(--channel-members-activity-icons__icon-border-radius);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    & + & {
      margin-left: 7px;
    }
    &-wrapper {
      @include vz.size(var(--channel-members-activity-icons__icon-size));
    }
  }
  &-img {
    @include vz.size(100%);
  }
}

.membersWrap-3NUR2t {
  .children-283-lq {
    display: flex;
    flex-flow: row nowrap;
  }
  // Remove rich presence icon
  .icon-Lupfh- {
    display: none;
  }
}
